<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriaEditDlg" widgetVar="CategoriaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCategoriaTitle}">
            <h:form id="CategoriaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categoriaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCategoriaLabel_nombreCategoria}" for="nombreCategoria" />
                        <p:inputText id="nombreCategoria" value="#{categoriaController.selected.nombreCategoria}" title="#{bundle.EditCategoriaTitle_nombreCategoria}" required="true" requiredMessage="#{bundle.EditCategoriaRequiredMessage_nombreCategoria}"/>
                        <p:outputLabel value="#{bundle.EditCategoriaLabel_descripcionCategoria}" for="descripcionCategoria" />
                        <p:inputText id="descripcionCategoria" value="#{categoriaController.selected.descripcionCategoria}" title="#{bundle.EditCategoriaTitle_descripcionCategoria}" />
                        <p:outputLabel value="#{bundle.EditCategoriaLabel_pago}" for="pago" />
                        <p:selectBooleanCheckbox id="pago" value="#{categoriaController.selected.pago}" required="true" requiredMessage="#{bundle.EditCategoriaRequiredMessage_pago}"/>
                        <p:outputLabel value="#{bundle.EditCategoriaLabel_ubicacion}" for="ubicacion" />
                        <p:selectBooleanCheckbox id="ubicacion" value="#{categoriaController.selected.ubicacion}" required="true" requiredMessage="#{bundle.EditCategoriaRequiredMessage_ubicacion}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{categoriaController.update}" value="#{bundle.Save}" update="display,:CategoriaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CategoriaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CategoriaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
