<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriaViewDlg" widgetVar="CategoriaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCategoriaTitle}">
            <h:form id="CategoriaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categoriaController.selected != null}">
                        <h:outputText value="#{bundle.ViewCategoriaLabel_idCategoria}"/>
                        <h:outputText value="#{categoriaController.selected.idCategoria}" title="#{bundle.ViewCategoriaTitle_idCategoria}"/>
                        <h:outputText value="#{bundle.ViewCategoriaLabel_nombreCategoria}"/>
                        <h:outputText value="#{categoriaController.selected.nombreCategoria}" title="#{bundle.ViewCategoriaTitle_nombreCategoria}"/>
                        <h:outputText value="#{bundle.ViewCategoriaLabel_descripcionCategoria}"/>
                        <h:outputText value="#{categoriaController.selected.descripcionCategoria}" title="#{bundle.ViewCategoriaTitle_descripcionCategoria}"/>
                        <h:outputText value="#{bundle.ViewCategoriaLabel_pago}"/>
                        <p:selectBooleanCheckbox value="#{categoriaController.selected.pago}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewCategoriaLabel_ubicacion}"/>
                        <p:selectBooleanCheckbox value="#{categoriaController.selected.ubicacion}" disabled="true"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CategoriaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
