<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContactoEditDlg" widgetVar="ContactoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditContactoTitle}">
            <h:form id="ContactoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contactoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditContactoLabel_nombreContacto}" for="nombreContacto" />
                        <p:inputText id="nombreContacto" value="#{contactoController.selected.nombreContacto}" title="#{bundle.EditContactoTitle_nombreContacto}" required="true" requiredMessage="#{bundle.EditContactoRequiredMessage_nombreContacto}"/>
                        <p:outputLabel value="#{bundle.EditContactoLabel_descripcionContacto}" for="descripcionContacto" />
                        <p:inputText id="descripcionContacto" value="#{contactoController.selected.descripcionContacto}" title="#{bundle.EditContactoTitle_descripcionContacto}" />
                        <p:outputLabel value="#{bundle.EditContactoLabel_telefonoContacto}" for="telefonoContacto" />
                        <p:inputText id="telefonoContacto" value="#{contactoController.selected.telefonoContacto}" title="#{bundle.EditContactoTitle_telefonoContacto}" required="true" requiredMessage="#{bundle.EditContactoRequiredMessage_telefonoContacto}"/>
                        <p:outputLabel value="#{bundle.EditContactoLabel_direccionContacto}" for="direccionContacto" />
                        <p:inputText id="direccionContacto" value="#{contactoController.selected.direccionContacto}" title="#{bundle.EditContactoTitle_direccionContacto}" required="true" requiredMessage="#{bundle.EditContactoRequiredMessage_direccionContacto}"/>
                        <p:outputLabel value="#{bundle.EditContactoLabel_ubicacionContacto}" for="ubicacionContacto" />
                        <p:inputText id="ubicacionContacto" value="#{contactoController.selected.ubicacionContacto}" title="#{bundle.EditContactoTitle_ubicacionContacto}" />
                        <p:outputLabel value="#{bundle.EditContactoLabel_codigoLocalidad}" for="codigoLocalidad" />
                        <p:selectOneMenu id="codigoLocalidad" value="#{contactoController.selected.codigoLocalidad}" required="true" requiredMessage="#{bundle.EditContactoRequiredMessage_codigoLocalidad}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{localidadController.itemsAvailableSelectOne}"
                                           var="codigoLocalidadItem"
                                           itemValue="#{codigoLocalidadItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditContactoLabel_tipoContacto}" for="tipoContacto" />
                        <p:selectOneMenu id="tipoContacto" value="#{contactoController.selected.tipoContacto}" required="true" requiredMessage="#{bundle.EditContactoRequiredMessage_tipoContacto}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoContactoController.itemsAvailableSelectOne}"
                                           var="tipoContactoItem"
                                           itemValue="#{tipoContactoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contactoController.update}" value="#{bundle.Save}" update="display,:ContactoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ContactoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ContactoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
