<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListContactoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ContactoListForm">
                <p:panel header="#{bundle.ListContactoTitle}">
                    <p:dataTable id="datalist" value="#{contactoController.items}" var="item"
                                 selectionMode="single" selection="#{contactoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idContacto}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_idContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.idContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_nombreContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_descripcionContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_telefonoContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefonoContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_direccionContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccionContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_ubicacionContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.ubicacionContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_codigoLocalidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.codigoLocalidad.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListContactoTitle_tipoContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoContacto.nombreTipoContacto}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{contactoController.prepareCreate}" update=":ContactoCreateForm" oncomplete="PF('ContactoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ContactoViewForm" oncomplete="PF('ContactoViewDialog').show()" disabled="#{empty contactoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ContactoEditForm" oncomplete="PF('ContactoEditDialog').show()" disabled="#{empty contactoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{contactoController.destroy}" update=":growl,datalist" disabled="#{empty contactoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
