<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContactoViewDlg" widgetVar="ContactoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewContactoTitle}">
            <h:form id="ContactoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contactoController.selected != null}">
                        <h:outputText value="#{bundle.ViewContactoLabel_idContacto}"/>
                        <h:outputText value="#{contactoController.selected.idContacto}" title="#{bundle.ViewContactoTitle_idContacto}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_nombreContacto}"/>
                        <h:outputText value="#{contactoController.selected.nombreContacto}" title="#{bundle.ViewContactoTitle_nombreContacto}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_descripcionContacto}"/>
                        <h:outputText value="#{contactoController.selected.descripcionContacto}" title="#{bundle.ViewContactoTitle_descripcionContacto}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_telefonoContacto}"/>
                        <h:outputText value="#{contactoController.selected.telefonoContacto}" title="#{bundle.ViewContactoTitle_telefonoContacto}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_direccionContacto}"/>
                        <h:outputText value="#{contactoController.selected.direccionContacto}" title="#{bundle.ViewContactoTitle_direccionContacto}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_ubicacionContacto}"/>
                        <h:outputText value="#{contactoController.selected.ubicacionContacto}" title="#{bundle.ViewContactoTitle_ubicacionContacto}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_codigoLocalidad}"/>
                        <h:outputText value="#{contactoController.selected.codigoLocalidad}" title="#{bundle.ViewContactoTitle_codigoLocalidad}"/>
                        <h:outputText value="#{bundle.ViewContactoLabel_tipoContacto}"/>
                        <h:outputText value="#{contactoController.selected.tipoContacto}" title="#{bundle.ViewContactoTitle_tipoContacto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ContactoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
