<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocalidadEditDlg" widgetVar="LocalidadEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLocalidadTitle}">
            <h:form id="LocalidadEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{localidadController.selected != null}">
                       <p:outputLabel value="#{bundle.EditLocalidadLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{localidadController.selected.nombre}" title="#{bundle.EditLocalidadTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditLocalidadLabel_longitud}" for="longitud" />
                        <p:inputText id="longitud" value="#{localidadController.selected.longitud}" title="#{bundle.EditLocalidadTitle_longitud}" />
                        <p:outputLabel value="#{bundle.EditLocalidadLabel_latitud}" for="latitud" />
                        <p:inputText id="latitud" value="#{localidadController.selected.latitud}" title="#{bundle.EditLocalidadTitle_latitud}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{localidadController.update}" value="#{bundle.Save}" update="display,:LocalidadListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LocalidadEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LocalidadEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
