<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocalidadViewDlg" widgetVar="LocalidadViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewLocalidadTitle}">
            <h:form id="LocalidadViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{localidadController.selected != null}">
                        <h:outputText value="#{bundle.ViewLocalidadLabel_codigoLocalidad}"/>
                        <h:outputText value="#{localidadController.selected.codigoLocalidad}" title="#{bundle.ViewLocalidadTitle_codigoLocalidad}"/>
                        <h:outputText value="#{bundle.ViewLocalidadLabel_nombre}"/>
                        <h:outputText value="#{localidadController.selected.nombre}" title="#{bundle.ViewLocalidadTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewLocalidadLabel_longitud}"/>
                        <h:outputText value="#{localidadController.selected.longitud}" title="#{bundle.ViewLocalidadTitle_longitud}"/>
                        <h:outputText value="#{bundle.ViewLocalidadLabel_latitud}"/>
                        <h:outputText value="#{localidadController.selected.latitud}" title="#{bundle.ViewLocalidadTitle_latitud}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="LocalidadViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
