<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoContactoEditDlg" widgetVar="TipoContactoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipoContactoTitle}">
            <h:form id="TipoContactoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoContactoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipoContactoLabel_nombreTipoContacto}" for="nombreTipoContacto" />
                        <p:inputText id="nombreTipoContacto" value="#{tipoContactoController.selected.nombreTipoContacto}" title="#{bundle.EditTipoContactoTitle_nombreTipoContacto}" required="true" requiredMessage="#{bundle.EditTipoContactoRequiredMessage_nombreTipoContacto}"/>
                        <p:outputLabel value="#{bundle.EditTipoContactoLabel_descripcionTipoContacto}" for="descripcionTipoContacto" />
                        <p:inputText id="descripcionTipoContacto" value="#{tipoContactoController.selected.descripcionTipoContacto}" title="#{bundle.EditTipoContactoTitle_descripcionTipoContacto}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoContactoController.update}" value="#{bundle.Save}" update="display,:TipoContactoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipoContactoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoContactoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
