<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoContactoViewDlg" widgetVar="TipoContactoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoContactoTitle}">
            <h:form id="TipoContactoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoContactoController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoContactoLabel_idTipoContacto}"/>
                        <h:outputText value="#{tipoContactoController.selected.idTipoContacto}" title="#{bundle.ViewTipoContactoTitle_idTipoContacto}"/>
                        <h:outputText value="#{bundle.ViewTipoContactoLabel_nombreTipoContacto}"/>
                        <h:outputText value="#{tipoContactoController.selected.nombreTipoContacto}" title="#{bundle.ViewTipoContactoTitle_nombreTipoContacto}"/>
                        <h:outputText value="#{bundle.ViewTipoContactoLabel_descripcionTipoContacto}"/>
                        <h:outputText value="#{tipoContactoController.selected.descripcionTipoContacto}" title="#{bundle.ViewTipoContactoTitle_descripcionTipoContacto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoContactoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
