<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuarioTitle}">
            <h:form id="UsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_nombreUsuario}" for="nombreUsuario" />
                        <p:inputText id="nombreUsuario" value="#{usuarioController.selected.nombreUsuario}" title="#{bundle.CreateUsuarioTitle_nombreUsuario}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nombreUsuario}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_apellidoUsuario}" for="apellidoUsuario" />
                        <p:inputText id="apellidoUsuario" value="#{usuarioController.selected.apellidoUsuario}" title="#{bundle.CreateUsuarioTitle_apellidoUsuario}" />
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usuarioController.selected.email}" title="#{bundle.CreateUsuarioTitle_email}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_pass}" for="pass" />
                        <p:inputText id="pass" value="#{usuarioController.selected.pass}" title="#{bundle.CreateUsuarioTitle_pass}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_pass}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_vencimiento}" for="vencimiento" />
                        <p:selectOneMenu id="vencimiento" value="#{usuarioController.selected.vencimiento}" >
                            <f:selectItems value="#{vencimientoController.itemsAvailableSelectOne}"
                                           var="vencimientoItem"
                                           itemValue="#{vencimientoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.create}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton immediate="true" value="#{bundle.Cancel}" onclick="UsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
