<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsuarioTitle}">
            <h:form id="UsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_nombreUsuario}" for="nombreUsuario" />
                        <p:inputText id="nombreUsuario" value="#{usuarioController.selected.nombreUsuario}" title="#{bundle.EditUsuarioTitle_nombreUsuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nombreUsuario}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_apellidoUsuario}" for="apellidoUsuario" />
                        <p:inputText id="apellidoUsuario" value="#{usuarioController.selected.apellidoUsuario}" title="#{bundle.EditUsuarioTitle_apellidoUsuario}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usuarioController.selected.email}" title="#{bundle.EditUsuarioTitle_email}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_pass}" for="pass" />
                        <p:inputText id="pass" value="#{usuarioController.selected.pass}" title="#{bundle.EditUsuarioTitle_pass}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_pass}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_vencimiento}" for="vencimiento" />
                        <p:selectOneMenu id="vencimiento" value="#{usuarioController.selected.vencimiento}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{vencimientoController.itemsAvailableSelectOne}"
                                           var="vencimientoItem"
                                           itemValue="#{vencimientoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.update}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
