<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VencimientoEditDlg" widgetVar="VencimientoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVencimientoTitle}">
            <h:form id="VencimientoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vencimientoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVencimientoLabel_nombreVencimiento}" for="nombreVencimiento" />
                        <p:inputText id="nombreVencimiento" value="#{vencimientoController.selected.nombreVencimiento}" title="#{bundle.EditVencimientoTitle_nombreVencimiento}" required="true" requiredMessage="#{bundle.EditVencimientoRequiredMessage_nombreVencimiento}"/>
                        <p:outputLabel value="#{bundle.EditVencimientoLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy" value="#{vencimientoController.selected.fecha}" title="#{bundle.EditVencimientoTitle_fecha}" required="true" requiredMessage="#{bundle.EditVencimientoRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVencimientoLabel_hora}" for="hora" />
                        <p:calendar id="hora" pattern="HH:mm:ss" value="#{vencimientoController.selected.hora}" title="#{bundle.EditVencimientoTitle_hora}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditVencimientoLabel_categoria}" for="categoria" />
                        <p:selectOneMenu id="categoria" value="#{vencimientoController.selected.categoria}" required="true" requiredMessage="#{bundle.EditVencimientoRequiredMessage_categoria}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriaController.itemsAvailableSelectOne}"
                                           var="categoriaItem"
                                           itemValue="#{categoriaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vencimientoController.update}" value="#{bundle.Save}" update="display,:VencimientoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VencimientoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VencimientoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
