<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListVencimientoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="VencimientoListForm">
                <p:panel header="#{bundle.ListVencimientoTitle}">
                    <p:dataTable id="datalist" value="#{vencimientoController.items}" var="item"
                                 selectionMode="single" selection="#{vencimientoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idVencimiento}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVencimientoTitle_idVencimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.idVencimiento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVencimientoTitle_nombreVencimiento}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreVencimiento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVencimientoTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVencimientoTitle_hora}"/>
                            </f:facet>
                            <h:outputText value="#{item.hora}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVencimientoTitle_categoria}"/>
                            </f:facet>
                            <h:outputText value="#{item.categoria.nombreCategoria}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{vencimientoController.prepareCreate}" update=":VencimientoCreateForm" oncomplete="PF('VencimientoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":VencimientoViewForm" oncomplete="PF('VencimientoViewDialog').show()" disabled="#{empty vencimientoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":VencimientoEditForm" oncomplete="PF('VencimientoEditDialog').show()" disabled="#{empty vencimientoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{vencimientoController.destroy}" update=":growl,datalist" disabled="#{empty vencimientoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
