<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VencimientoViewDlg" widgetVar="VencimientoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVencimientoTitle}">
            <h:form id="VencimientoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vencimientoController.selected != null}">
                        <h:outputText value="#{bundle.ViewVencimientoLabel_idVencimiento}"/>
                        <h:outputText value="#{vencimientoController.selected.idVencimiento}" title="#{bundle.ViewVencimientoTitle_idVencimiento}"/>
                        <h:outputText value="#{bundle.ViewVencimientoLabel_nombreVencimiento}"/>
                        <h:outputText value="#{vencimientoController.selected.nombreVencimiento}" title="#{bundle.ViewVencimientoTitle_nombreVencimiento}"/>
                        <h:outputText value="#{bundle.ViewVencimientoLabel_fecha}"/>
                        <h:outputText value="#{vencimientoController.selected.fecha}" title="#{bundle.ViewVencimientoTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVencimientoLabel_hora}"/>
                        <h:outputText value="#{vencimientoController.selected.hora}" title="#{bundle.ViewVencimientoTitle_hora}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewVencimientoLabel_categoria}"/>
                        <h:outputText value="#{vencimientoController.selected.categoria}" title="#{bundle.ViewVencimientoTitle_categoria}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VencimientoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
