<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Vencimientos Personales</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="resources/css/materialize.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <!--<h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>-->
        <h:outputStylesheet library="css" name="materialize.css"/>
        <h:outputScript library="js" name="materialize.js"/>
    </h:head>

    <h:body>

        <h:form>
            <p:growl id="pgErores"/>
            <p:panel class="col s6">
                <p:panelGrid columns ="1" >
                    <div class="row">

                        <form class="col s6">

                            <div class="container">
                                <div class="input-field col s3 offset-s5">
                                    <i class="material-icons prefix">account_circle</i>
                                    <label for="txtUsuario">Usuario</label> 
                                    <input id="txtUsuario" type="text" required="true" value="#{loginController.nombreUsuario}"/>

                                </div>
                            </div>

                            <br/>

                            <div class="container">
                                <div class="input-field col s3 offset-s5">
                                    <i class="material-icons prefix">security</i>
                                    <label for="txtpassword">Password</label>
                                    <input id="txtpassword" type="password" required="true" value="#{loginController.passwordUsuario}"/>

                                </div>
                            </div>
                        </form>
                    </div>
                </p:panelGrid>
                <center>
                   

                    <button class="waves-effect waves-light teal accent-4 btn" type="button"  name="#{loginController.ingresar()}" >Ingresar
                        
                    </button>

                    <p:commandButton class="waves-effect waves-light teal accent-4 btn" value="Ingresar" update="@all" action="#{loginController.ingresar()}"/>

                    <p:commandButton class="waves-effect waves-light btn-small  light-blue darken-4 btn" value="Facebook" immediate="true" action="categoria/List.xhtml"/>
                    <p:commandButton class="waves-effect waves-light btn-small red accent-4 btn" value="Google +" immediate="true" action="acceder"/>
                </center>
            </p:panel>
        </h:form>

        <!--<h:form>
            <p:growl id="pgErores"/>
            <p:panel header="Ingresar">

                <p:panelGrid columns="2" >
                    <p:outputLabel for="txtUsuario" value="Usuario:"/>
                    <p:inputText id="txtUsuario" required="true" value="#{loginController.nombreUsuario}" />

                    <p:outputLabel for="txtpassword" value="Password:"/>
                    <p:password id="txtpassword" required="true" value="#{loginController.passwordUsuario}" >
                        <f:validateLength minimum="6" maximum="20"/>                            
                    </p:password>

                    <div class="row">

                        <form class="col s3">

                            <div class="row">
                                <div class="input-field col s3">
                                    <i class="material-icons prefix">account_circle</i>
                                    <label for="txtUsuario">Usuario</label> 
                                    <input id="txtUsuario" type="text" required="true" value="#{loginController.nombreUsuario}"/>

                                </div>
                            </div>

                            <br/>

                            <div class="row">
                                <div class="input-field col s3">
                                    <i class="material-icons prefix">phone</i>
                                    <label for="txtpassword">Password</label>
                                    <input id="txtpassword" type="password" required="true" value="#{loginController.passwordUsuario}"/>

                                </div>
                            </div>
                        </form>
                    </div>

                </p:panelGrid>

                <center>
                    <p:commandButton class="waves-effect waves-light btn-small teal accent-4 btn" value="Ingresar" update="@all" action="#{loginController.ingresar()}"/>

                    <p:commandButton class="waves-effect waves-light btn-small  light-blue darken-4 btn" value="Facebook" immediate="true" action="categoria/List.xhtml"/>
                    <p:commandButton class="waves-effect waves-light btn-small red accent-4 btn" value="Google +" immediate="true" action="acceder"/>
                </center>

            </p:panel>







        </h:form>-->

        <script type="text/javascript" src="resources/js/materialize.js"></script>
    </h:body>
</html>

