<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="resources/css/materialize.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <title><ui:insert name="title">Vencimientos Personales</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <h:outputStylesheet library="css" name="materialize.css"/>
        <h:outputScript library="js" name="materialize.js"/>
    </h:head>

    <h:body>


        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="123" >


                <nav class="nav-extended">
                    <div class="card-panel teal darken-2">
                        <div class="nav-wrapper">
                            <a href="/vencimientos_personales/faces/index.xhtml" class="brand-logo">Vecimientos Personales</a>
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><a href="/vencimientos_personales/faces/login.xhtml">Cerrar Sesion</a></li>
                            </ul>
                        </div>
                        <div class="nav-content">
                            <ul class="tabs tabs-transparent">
                                <li class="tab"><a href="/vencimientos_personales/faces/categoria/List.xhtml">Categorias</a></li>
                                <li class="tab"><a href="/vencimientos_personales/faces/contacto/List.xhtml">Contactos</a></li>
                                <li class="tab"><a href="/vencimientos_personales/faces/localidad/List.xhtml">Localidades</a></li>
                                <li class="tab"><a href="/vencimientos_personales/faces/tipoContacto/List.xhtml">Tipo de Contacto</a></li>
                                <li class="tab"><a href="/vencimientos_personales/faces/usuario/List.xhtml">Usuarios</a></li>
                                <li class="tab"><a href="/vencimientos_personales/faces/vencimiento/List.xhtml">Vencimientos</a></li>
                            </ul>
                        </div>
                        

                        
                    </div>

                </nav>

                <!--
 
                 <h:form id="menuForm">
                     <p:menubar>
                         <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                         <p:submenu label="#{bundle.Maintenance}">
                             <p:menuitem value="Categoria" outcome="/categoria/List.xhtml" />
                             <p:menuitem value="Contacto" outcome="/contacto/List.xhtml" />
                             <p:menuitem value="Localidad" outcome="/localidad/List.xhtml" />
                             <p:menuitem value="TipoContacto" outcome="/tipoContacto/List.xhtml" />
                             <p:menuitem value="Usuario" outcome="/usuario/List.xhtml" />
                             <p:menuitem value="Vencimiento" outcome="/vencimiento/List.xhtml" />
                         </p:submenu>
 
                         <p:menuitem value="Cerrar Sesion" outcome="/login.xhtml"/>
 
                     </p:menubar>
                </h:form>
                -->

            </p:layoutUnit>
            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="resources/js/materialize.js"></script>

    </h:body>

</html>
